
{% extends 'rabbis/base.html' %}

{% block title %}
    {{ rabbi.name }}'s Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ rabbi.name }}</h2>
                <p class="card-text"><strong>Year of Birth:</strong> {{ rabbi.birth_year }}</p>
                
                <p class="card-text"><strong>Notable Offspring:</strong> 
                    {% if rabbi.notable_offspring.all %}
                        {% for offspring in rabbi.notable_offspring.all %}
                            {{ offspring.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
                
                <p class="card-text"><strong>Wife:</strong> 
                    {% if rabbi.wife.all %}
                        {% for wife in rabbi.wife.all %}
                            {{ wife.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
                
                <p class="card-text"><strong>Father:</strong> 
                    {% if rabbi.father %}
                        {{ rabbi.father.name }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>

                <p class="card-text"><strong>Lifespan:</strong> {{ rabbi.lifespan }} years</p>
                <p class="card-text"><strong>Year of Death:</strong> 
                    {% if rabbi.death_year %}
                        {{ rabbi.death_year }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>

                <a href="{% url 'rabbi_list' %}" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
{% endblock %}